/* variables */

$header-height: 50px;

$black: #4a4a4a;
$white: white;
$grey-light: #f5f6f6;
$grey-border: #d7d7d7;
$red: #d0021b;
$green: #03ac20;
$gold: #ffca03;

$header-bg: $black;
$header-fg: $white;


/* forms */
input[type=text],
input[type=phone],
input[type=email],
input[type=password],
textarea {
  font-size: 16px !important;
}

/* typography */
h1,
h2,
h3 {
  font-size: 16px;
  margin-top: 0px;
}

h4,
h5 {
  font-size: 14px;
  margin-top: 0px;
}

body {
  color: $black;
}

/* app layout */
#viewport {
  margin: 0px -10px 20px;
}

#header-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

#app-header {
  height: $header-height;

  padding: 15px 15px 0px;
  margin-left: -15px;
  margin-right: -15px;

  color: $header-fg;
  background-color: $header-bg;

  a,
  a:visited,
  a:active,
  a:link {
    color: $header-fg;
  }

  h1 {
    margin: 0px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .back {
    position: absolute;
    left: 15px;
    // nice big tap target
    padding: 10px;
    margin: -10px;
  }
}

#viewport {
  article.with-header {
    padding-top: ($header-height + 10px);
  }

  article section {
    margin-bottom: 20px;
  }
}

.box-sections {
  & > section {
    padding: 5px;
    background-color: $grey-light;
    border: 1px solid $grey-border;
  }

  h2 {
    margin: 5px 0px 10px 5px;
    font-size: 18px;
  }
}

.collapsible-sections {
  > section {
    > h2 {
      &::before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        margin-righT: 5px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &::before {
        content: "\f077";
      }

      &.collapsed::before {
        content: "\f078";
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* specific views */
ul.story-list {
  padding: 0px;
  margin: 0px;

  > li {
    display: block;
    padding: 10px;
    margin-bottom: 10px;

    background-color: white;
    border: 1px solid $grey-border;

    &:last-child {
      margin-bottom: 0px;
    }

    a,
    a:visited,
    a:active,
    a:hover {
      color: $black;
      text-decoration: none;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 2px;
    }
  }
}

ul.question-list {
  padding: 0px;
  margin: 0px;

  > li {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    border: 1px solid $grey-border;
    background-color: $white;

    .btn-group {
      margin-bottom: 10px;
      width: 100%;

      label {
        width: 33%;
        box-shadow: none;
      }

      label.yes.active {
        background-color: $green;
        color: $white;
      }

      label.no.active {
        background-color: $red;
        color: $white;
      }

      label.na.active {
        background-color: $black;
        color: $white;
      }
    }

    .btn.done {
      float: right;
      text-transform: uppercase;
      color: $green;
    }
  }

  &#completed-question-list {
    .btn.done {
      display: none;
    }
  }
}

.story-view {
  #story-progress {
    margin: -10px -5px 10px;
    border-radius: 0px;
  }

  .story-done {
    display: none;
    padding: 20px 0px;

    text-align: center;
    i, h2 {
      color: $gold;
    }

    .btn {
      text-transform: uppercase;
      color: $green;
    }
  }
}

.topic-list {
  width: 100%;
}

section.empty {
  display: none;
}

.progress-bar {
  background-color: $green;
}
