.topic-list {
  width: 100%;
}

#main-view {
  margin-bottom: 20px;
}

#main-view header.top {
  padding: 5px 15px;
  margin: 0px -15px 20px;
  background-color: #009587;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#main-view header.top a,
#main-view header.top a:focus,
#main-view header.top a:hover {
  color: white;
}

#main-view h1,
#main-view h2,
#main-view h3,
#main-view h4,
#main-view h5 {
  margin-top: 0px;
}

#main-view section {
  margin-bottom: 20px;
}

#main-view .story-view .question .num {
  float: right;
  color: #aaa;
  font-size: 13px;
}

.btn-group-raised .btn.active {
  background-color: #4caf50 !important;
  color: rgba(255,255,255, 0.84);
}

input[type=text],
input[type=phone],
input[type=email],
input[type=password],
textarea {
  font-size: 16px !important;
}
