/* variables */

$header-height: 40px;

/* forms */
input[type=text],
input[type=phone],
input[type=email],
input[type=password],
textarea {
  font-size: 16px !important;
}

/* typography */
h1,
h2,
h3 {
  font-size: 16px;
  margin-top: 0px;
}

h4,
h5 {
  font-size: 14px;
  margin-top: 0px;
}

/* app layout */
#viewport {
  margin-bottom: 20px;
}

#header-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $header-height;
  z-index: 999;
}

#app-header {
  padding: 5px 15px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #efefef;
  border-bottom: 1px solid #ccc;

  h1 {
    margin: 0px;
    text-align: center;
  }
}

#viewport {
  article.with-header {
    padding-top: ($header-height + 10px);
  }

  article section {
    margin-bottom: 20px;
  }
}


/* specific views */
.story-view {
  .question {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;

    .btn-group {
      margin-bottom: 10px;
    }

    .num {
      float: right;
      color: #ccc;
      font-size: 13px;
    }
  }
}

.topic-list {
  width: 100%;
}

