/* variables */
/* forms */
input[type=text],
input[type=phone],
input[type=email],
input[type=password],
textarea {
  font-size: 16px !important; }

/* typography */
h1,
h2,
h3 {
  font-size: 16px;
  margin-top: 0px; }

h4,
h5 {
  font-size: 14px;
  margin-top: 0px; }

body {
  color: #4a4a4a; }

/* app layout */
#viewport {
  margin: 0px -10px 20px; }

#header-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999; }

#app-header {
  height: 50px;
  padding: 15px 15px 0px;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  background-color: #4a4a4a; }
  #app-header a,
  #app-header a:visited,
  #app-header a:active,
  #app-header a:link {
    color: white;
    text-decoration: none; }
  #app-header h1 {
    margin: 0px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #app-header .back {
    position: absolute;
    left: 15px;
    padding: 10px;
    margin: -10px; }

#viewport article.with-header {
  padding-top: 60px; }
#viewport article {
  padding-bottom: 75px; }
#viewport article section {
  margin-bottom: 20px; }

#footer-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999; }

#app-footer {
  height: 65px;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  background-color: #73c619;
  background-image: linear-gradient(to bottom, #b4ec51, #429321); }
  #app-footer a,
  #app-footer a:visited,
  #app-footer a:active,
  #app-footer a:link {
    color: white;
    text-decoration: none; }

.box-sections > section {
  padding: 5px;
  background-color: #f5f6f6;
  border: 1px solid #d7d7d7; }
.box-sections h2 {
  margin: 5px 0px 10px 5px;
  font-size: 18px; }

.collapsible-sections > section > h2::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  margin-righT: 5px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.collapsible-sections > section > h2::before {
  content: "\f077"; }
.collapsible-sections > section > h2.collapsed::before {
  content: "\f078"; }
.collapsible-sections > section > h2:hover {
  cursor: pointer; }

/* specific views */
ul.story-list {
  padding: 0px;
  margin: 0px; }
  ul.story-list > li {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #d7d7d7; }
    ul.story-list > li:last-child {
      margin-bottom: 0px; }
    ul.story-list > li a,
    ul.story-list > li a:visited,
    ul.story-list > li a:active,
    ul.story-list > li a:hover {
      color: #4a4a4a;
      text-decoration: none; }
    ul.story-list > li h3 {
      font-weight: bold;
      margin-bottom: 2px; }
  ul.story-list .percent {
    float: right;
    width: 45px;
    height: 45px; }
    ul.story-list .percent .progressbar-text {
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 0px;
      margin: 0px;
      font-size: 12px;
      transform: translate(-50%, -50%); }

ul.question-list {
  padding: 0px;
  margin: 0px; }
  ul.question-list > li {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    border: 1px solid #d7d7d7;
    background-color: white; }
    ul.question-list > li .btn-group {
      margin-bottom: 10px;
      width: 100%; }
      ul.question-list > li .btn-group label {
        width: 33%;
        box-shadow: none; }
      ul.question-list > li .btn-group label.yes.active {
        background-color: #03ac20;
        color: white; }
      ul.question-list > li .btn-group label.no.active {
        background-color: #d0021b;
        color: white; }
      ul.question-list > li .btn-group label.na.active {
        background-color: #4a4a4a;
        color: white; }
    ul.question-list > li .btn.done {
      float: right; }
      ul.question-list > li .btn.done.disabled {
        color: #d7d7d7; }
  ul.question-list#completed-question-list .btn.done {
    display: none; }

.story-view #story-progress {
  margin: -10px -5px 10px;
  border-radius: 0px; }
.story-view .story-done {
  display: none;
  padding: 20px 0px;
  text-align: center; }
  .story-view .story-done i, .story-view .story-done h2 {
    color: #ffca03; }

.btn.success {
  text-transform: uppercase;
  color: #03ac20; }
  .btn.success:hover {
    text-decoration: none; }

.footer-view .nav-items {
  list-style: none;
  padding: 0px;
  margin: 0px; }
  .footer-view .nav-items li {
    display: block;
    float: left;
    width: 33%;
    text-align: center; }
    .footer-view .nav-items li a {
      display: block;
      height: 65px;
      padding: 10px; }
    .footer-view .nav-items li a.active {
      background-color: rgba(255, 255, 255, 0.2); }

.topic-list {
  width: 100%; }

section.empty {
  display: none; }

.progress-bar {
  background-color: #73c619;
  background-image: linear-gradient(to right, #b4ec51, #429321); }

/*# sourceMappingURL=main.css.map */
