/* variables */

$header-height: 50px;
$footer-height: 50px;

$black: #4a4a4a;
$white: white;
$grey-light: #f5f6f6;
$grey-dark: #e6e6e6;
$grey-border: #d7d7d7;
$grey-darker: #979797;
$red: #d0021b;
$gold: #ffca03;

$success: #03ac20;

$green-start: #b4ec51;
$green-middle: #73c619;
$green-end: #429321;

$header-bg: $black;
$header-fg: $white;

$footer-fg: $white;
$footer-bg: $green-middle;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Mixins */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* forms */
input[type=text],
input[type=phone],
input[type=email],
input[type=password],
textarea {
  font-size: 16px !important;
}

/* typography */
h1,
h2,
h3 {
  font-size: 16px;
  margin-top: 0px;
}

h4,
h5 {
  font-size: 14px;
  margin-top: 0px;
}

body {
  color: $black;
}

/* app layout */
#viewport {
  margin: 0px -10px 20px;
}

#header-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

#app-header {
  height: $header-height;

  padding: 15px 15px 0px;
  margin-left: -15px;
  margin-right: -15px;

  color: $header-fg;
  background-color: $header-bg;

  a,
  a:visited,
  a:active,
  a:link {
    color: $header-fg;
    text-decoration: none;
  }

  h1 {
    margin: 0px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .back + h1 {
    margin-left: 20px;
  }

  .back {
    position: absolute;
    left: 15px;
    // nice big tap target
    padding: 15px;
    margin: -15px;
  }

  .nav-items {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      display: inline-block;

      a {
        padding: 10px 10px;
        margin-top: -10px;
      }

      .fa {
        font-size: 18px;
      }
    }
  }
}

#viewport {
  article.with-header {
    padding-top: ($header-height + 10px);
  }

  article {
    // for footer
    padding-bottom: ($footer-height + 10px);
  }

  article section {
    //margin-bottom: 20px;
  }

  article.free-text {
    padding-left: 15px;
    padding-right: 15px;

    section {
      margin-bottom: 30px;
    }
  }
}

#footer-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}

#app-footer {
  height: $footer-height;

  margin-left: -15px;
  margin-right: -15px;

  color: $footer-fg;
  background-color: $footer-bg;

  a,
  a:visited,
  a:active,
  a:link {
    color: $footer-fg;
    text-decoration: none;
  }

  .nav-items {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      display: block;
      float: left;
      width: 33.33%;
      text-align: center;
      font-size: 12px;

      .fa {
        font-size: 24px;
      }

      .add .fa {
        font-size: 28px;
      }
    }
  }

  a {
    display: block;
    height: $footer-height;
    padding: 5px;
    position: relative;
  }

  a.active {
    background-color: #8fd247;

    .add-btn-wrapper {
      border-color: #8fd247;
    }
  }

  .add-btn-wrapper {
    position: relative;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    width: 75px;

    border: 5px solid $footer-bg;
    border-radius: 50%;
  }

  .add-btn {
    padding: 15px;
    height: 65px;

    background-color: grey;
    background-image: radial-gradient(circle at 50% 50%, #969696, #333333);
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 2px rgba(1, 1, 1, 0.75);

    .fa::before {
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.box-sections {
  & > section {
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    background-color: $grey-light;
  }

  h2 {
    margin: 5px 0px 10px 5px;
    font-size: 16px;
  }
}

.collapsible-sections {
  > section {
    > h2 {
      &::before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        margin-righT: 5px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &::before {
        content: "\f077";
      }

      &.collapsed::before {
        content: "\f078";
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.center-col {
  margin:0 auto;
  float:none;
}

/* specific views */
ul.story-list {
  padding: 0px;
  margin: 0px;
  list-style:none;

  > li {
    margin-bottom:10px;
    background-color: white;
    padding:0;
    margin-left:0;
    margin-right:0;

    > [class*='col-'] {
      border: 1px solid $grey-border;
      padding-top:10px;
      padding-bottom:10px;
      height:83px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    .percent {
      margin-top:3px;
    }

    a,
    a:visited,
    a:active,
    a:hover {
      color: $black;
      text-decoration: none;
    }

    h3 {
      font-weight: 500;
      margin-bottom: 2px;
      font-size: 18px;
    }

    .buttons {
      border-left:none;

      a {
        text-align: center;
        margin-top: 10px;
        display: inline-block;

        i {
          font-size: 40px;
        }
      }
    }
  }

  .percent {
    float: right;
    width: 55px;
    height: 55px;

    .progressbar-text {
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 0px;
      margin: 0px;
      font-size: 12px;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    &.complete .progressbar-text {
      font-family: FontAwesome;
      font-size: 28px;
      color: $gold !important;
    }
  }
}

ul.question-list {
  padding: 0px;
  margin: 0px;

  > li {
    display: block;
    padding: 5px;
    margin-bottom: 20px;

    .btn.done {
      float: right;
    }

    .fa-check-circle {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s linear;
      float: right;
      color: $green-middle;
      font-size: 22px;
      margin-left: 5px;
      margin-top: -2px;
    }

    &.answered {
      .fa-check-circle {
        opacity: 1;
        visibility: visible;
      }
    }

    textarea {
      display: block;
      width: 100%;
      height: auto;
      background-color: transparent;
      border-width: 0px;
      outline-width: 0px;
      resize: none;
      padding: 0px;
    }
  }
}

.story-view {
  article.with-header {
    padding-top: ($header-height + 30px) !important;
  }

  #story-progress {
    position: fixed;
    top: $header-height;
    left: 0px;
    height: 20px;
    right: 0px;
    z-index: 999;

    .progress {
      border-radius: 0px;
      margin: 0px -15px;
    }
  }

  .story-done {
    display: none;
    padding: 20px 0px;

    text-align: center;
    i, h2 {
      color: $gold;
    }
  }
}

.btn-success {
  background-color: $green-middle;
  border-color: $green-middle;
}

.btn.success {
  text-transform: uppercase;
  color: $success;

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    color: $grey-border;
  }
}

.btn.danger {
  text-transform: uppercase;
  color: $red;

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    color: $grey-border;
  }
}

.footer-view {
}

.home-view {
  .add-story-prompt {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
      font-size: 24px;
    }
  }
}

#splash-wrapper {
  position: fixed;
  top: 0px;
  bottom: $footer-height;
  left: 0px;
  right: 0px;

  .container,
  .row,
  .col-md-6 {
    height: 100%;
  }

  .container {
    padding: 0px;
  }

  #splash {
    width: 100%;
    height: 100%;
    background-color: $green-middle;
    background-image: radial-gradient(circle at 50% 50%, $green-start, $green-end);

    .button {
      position: absolute;
      top: 25%;
      left: 50%;
      width: 200px;
      height: 200px;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      cursor: pointer;
    }

    .logo {
      width: 100%;
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 28px;
    }

    h2 {
      position: fixed;
      top: 45%;
      left: 0px;
      right: 0px;
      text-align: center;
      font-size: 20px;
    }

    h3 {
      position: fixed;
      top: 60%;
      left: 15px;
      right: 15px;
      text-align: center;
      font-size: 16px;
      line-height: 1.3em;
      white-space: nowrap;
    }

    h4 {
      position: fixed;
      top: 75%;
      left: 15px;
      right: 15px;
      text-align: center;
      font-size: 14px;
      line-height: 1.3em;
      white-space: nowrap;

      a, a:hover, a:active, a:visited {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

#loading {
  margin-top: 20px;
  text-align: center;
}

.add-story-view {
  .topic-buttons {
    padding-left: 0px;

    li {
      list-style: none;
      display: block;
      width: 30%;
      float: left;

      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(3n) {
        margin-right: 0px;
      }
    }

    a,
    a:visited,
    a:active,
    a:hover {
      color: $white;
      text-decoration: none;
    }

    a {
      display: block;
      line-height: 1.2;
      height: 100px;
      padding: 5px 2px;

      background-color: $green-middle;
      border: 1px solid $grey-darker;
      text-align: center;

      .fa {
        font-size: 32px;
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }
  }

  .name-section {
    display: none;
  }
}

.topic-list {
  width: 100%;
}

section.empty {
  display: none;
}

.progress-bar {
  background-color: $green-middle;
  background-image: linear-gradient(to right, $green-start, $green-end);
}

.language-choices {
  .radio {
    margin-top: 20px;
  }
}
